// Fonts
$font-family-body = "Menlo", "Meslo LG", monospace
$font-family-mono = "Menlo", "Meslo LG", monospace
$font-size = 14px
$line-height = 1.725
$page-width = 0rem + (hexo-config("page_width") || 39)

// Logo
$logo-width = 0px + (hexo-config("logo.width") || 0)
$logo-height = 0px + (hexo-config("logo.height") || 0)
$logo-grayout = hexo-config("logo.grayout") || false

// Colors
$colors = hexo-config("colorscheme") || "dark"

// Solar images
$sun_image =  hexo-config("root") + hexo-config("solar.sun_image") 
$earth_image =  hexo-config("root") +hexo-config("solar.earth_image") 
$jupiter_image =  hexo-config("root") +hexo-config("solar.jupiter_image") 
$mars_image =  hexo-config("root") +hexo-config("solar.mars_image") 
$mercury_image =  hexo-config("root") +hexo-config("solar.mercury_image") 
$venus_image =  hexo-config("root") +hexo-config("solar.venus_image") 
$shadow_image =  hexo-config("root") +hexo-config("solar.shadow_image") 
$solar_speed = hexo-config("solar.speed")