$color-background =  #181818 
$color-link = rgba(212, 028, 070, 1) 
$color-text = #b9babc
$color-light = #cccccc
$color-lightest = #dedede
$color-accent = #5bac4a
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)
$color-footer-mobile-1 = lighten($color-background, 2%)
$color-footer-mobile-2 = lighten($color-background, 10%)
$color-background-code = lighten($color-background, 2%)
$color-border = #908d8d
$color-scrollbar = #999
$color-meta = #908d8d
$color-meta-code = #908d8d
$color-accent-3 = #cccccc
$color-accent-2 = #eeeeee
$color-accent-1 = #2bbc8a
$color-quote = #ccffb6
$highlight = hexo-config("highlight") || "rainbow"